@model ProjectManagementSystem.ViewModels.BookEditViewModel

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>编辑文档</h3>
            </div>
            <form method="post" asp-action="EditBook" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <input asp-for="@Model.ProjectId" hidden>
                            <input asp-for="@Model.Id" hidden>
                            <label>文档名称:</label>
                            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="输入标题" required="">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="row">
                        <label>文档概要:</label>
                        <textarea asp-for="@Model.Summary" type="text" class="form-control auto-resize" placeholder="输入概要">
            </textarea>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <label>当前文件:</label>
                        <div>
                            <a class="btn btn-primary" asp-controller="Book" asp-action="DownloadBook" asp-route-fileName="@Model.FilePath">
                                下载
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <label>更新文件</label>
                        <input asp-for="@Model.BookFile" type="file" class="form-control">
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a asp-action="ReturnProjetDetail" asp-controller="Book" asp-route-id="@Model.ProjectId" class="btn btn-secondary btn-block">返回</a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-block">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts{
    <script>
        function autoResizeTextarea(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }

        // 在页面加载时调整textarea的高度，并为所有具有'auto-resize'类的textarea元素添加oninput事件处理器
        window.addEventListener('DOMContentLoaded', function () {
            const textareas = document.querySelectorAll('.auto-resize');
            textareas.forEach((textarea) => {
                autoResizeTextarea(textarea);
                textarea.addEventListener('input', () => autoResizeTextarea(textarea));
            });
        });

    </script>
}