@using ProjectManagementSystem.ViewModels
@model DepartmentIndexViewModel
<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">部门管理</h5>
                            <div class="form-group row">
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">添加部门</button>
                                    <div class="modal fade" id="addDepartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">添加部门</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" asp-action="AddDepartment" asp-controller="Department">
                                                    <div class="modal-body">
                                                        <div class="container-fluid">
                                                            <div class="form-group row">
                                                                <label class="col-sm-2">名称</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" asp-for="@Model.AddDepartment.Name" required>
                                                                    <div class="invalid-feedback"></div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                                                        <button type="submit" class="btn btn-primary">保存</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">名称</th>
                                    <th scope="col">人数</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var department in Model.Departments)
                                {
                                    <tr>
                                        <th scope="row">@department.Id</th>
                                        <td>@department.Name</td>
                                        <td>@department.Users.Count()</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                人员
                                            </button>
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">部门人员</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="list-group">
                                                                @foreach (var user in department.Users)
                                                                {
                                                                    <li class="list-group-item">
                                                                        <img src="@user.ImagePath" alt="没有头像" style="width: 30px; height: 30px; margin-right: 10px;">
                                                                        @user.TrueName
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="btn btn-outline-danger" asp-action="DeleteDepartment" asp-route-id="@department.Id">删除</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>