@using ProjectManagementSystem.ViewModels;
@using ProjectManagementSystem.Data;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http
@model ProjectAddViewModel
@inject ApplicationDbContext applicationDbContext
@inject UserManager<ApplicationUser> userManager
<div class="col-lg-6 offset-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">创建项目</h5>

            <!-- Horizontal Form -->
            <form asp-action="AddProject">
                <div class="row mb-3">
                    <label asp-for=Name class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for=Name type="text" class="form-control">
                        <span class="invalid" asp-validation-for="@Model.Name"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for=Description class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Description" type="text" class="form-control"></textarea>
                        <span class="invalid" asp-validation-for="@Model.Description"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for=Deadline class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for=Deadline type="text" value="@Model.Deadline.ToString("yy-MM-dd")" class="form-control">
                        <span class="invalid" asp-validation-for="@Model.Deadline"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for=Status class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="@Model.Status" class="form-control" asp-items="@Html.GetEnumSelectList<ProjectStatus>()"></select>
                        <span class="invalid" asp-validation-for="@Model.Deadline"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for=Functionary class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="@Model.Functionary" class="selectpicker form-control valid" data-live-search="true" asp-items="@new SelectList(applicationDbContext.ApplicationUsers.Select(a=>a.UserName))"></select>
                        <span class="invalid" asp-validation-for="@Model.Deadline"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for=PutForward class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for=PutForward value="@Model.PutForward" class="form-control" readonly>
                        <span class="invalid" asp-validation-for="@Model.PutForward"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a asp-action="Index" class="btn btn-secondary">返回</a>
                </div>
            </form>
            <!-- End Horizontal Form -->

        </div>
    </div>
</div>
