@using ProjectManagementSystem.ViewModels;
@model IEnumerable<ProjectIndexViewModal>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">项目列表</h2>
        <div class="text-right">
            <a asp-action="AddProject" class="btn btn-outline-primary float-end">新项目</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    @foreach (var project in Model)
                    {
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="label label-default me-3" style="width: 300px;">@project.Name</span>
                                            <div class="progress" style="width: 800px;">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: @project.FinishedPercent;">
                                                    已完成
                                                </div>
                                                <div class="progress-bar bg-subtle" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: @project.InProgressPercent;">
                                                    进行中
                                                </div>
                                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: @project.TimeOutPercent;">
                                                    已超时
                                                </div>
                                                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: @project.UnDealPercent;">
                                                    待处理
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                            <!-- Add more accordion items here if needed -->
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>
</div>