@using Microsoft.AspNetCore.Identity;
@using ProjectManagementSystem.Data;
@using ProjectManagementSystem.ViewModels
@model ProjectDetailViewModel
@inject ApplicationDbContext applicationDbContext
@inject UserManager<ApplicationUser> userManager
<style>
    .priority {
        font-weight: bold;
        display: inline-block;
        padding: 2px 8px;
        border-radius: 3px;
        text-align: center;
    }

    .priority-low {
        background-color: #28a745;
        color: white;
    }

    .priority-medium {
        background-color: #ffc107;
        color: white;
    }

    .priority-high {
        background-color: #dc3545;
        color: white;
    }

    .status-1 {
        color: #b3b3b3; /* 淡灰色 */
    }

    .status-2 {
        color: #add8e6; /* 淡蓝色 */
    }

    .status-3 {
        color: #FF8C66; /* 淡橙色 */
    }

    .status-label {
        font-size: 0.85rem;
        color: #6c757d;
    }

    .text-priority {
        color: #6c757d;
    }

</style>
<style>
    .status-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .status-text {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .add-button {
        font-size: 1.5rem;
        background-color: #ffffff;
        border: 2px solid #dee2e6;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 36px;
        text-align: center;
        color: #495057;
        transition: 0.2s;
    }

        .add-button:hover {
            background-color: #f8f9fa;
            border-color: #6c757d;
            color: #6c757d;
        }
</style>
<style>
    .custom-card-body {
        display: flex;
        align-items: center;
        height: 100%; /* 设置 custom-card-body 高度为 100%，以便填充整个卡片 */
    }
</style>
<style>
    .custom-td {
        width: 16.66%; /* 设置每列的宽度占总宽度的 1/6 */
        text-align: center; /* 设置文本居中对齐 */
    }
</style>


<style>
    .list-group-item {
        display: flex;
        flex-direction: column;
    }

        .list-group-item .time {
            font-size: 12px;
        }

        .list-group-item .content {
            display: flex;
            font-size: 14px;
        }
</style>
<style>
    .card-icon-green {
        color: #2eca6a;
        background: #e0f8e9;
        font-size: 32px;
        line-height: 0;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .card-icon-blue {
        color: #4d79ff;
        background: #e6e6ff;
        font-size: 32px;
        line-height: 0;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        flex-grow: 0;
    }


    .card-icon-red {
        color: #ff4d4d;
        background: #ffe6e6;
        font-size: 32px;
        line-height: 0;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        flex-grow: 0;
    }

</style>

<style>

    .activity-item {
        align-items: center;
    }

    .time-container {
        width: 160px;
        text-align: right;
    }

    .activity-badge {
        margin-left: 20px;
        margin-right: 10px;
    }

</style>
<style>
    .custom-td {
        width: 16.66%; /* 设置每列的宽度占总宽度的 1/6 */
        text-align: center; /* 设置文本居中对齐 */
    }
</style>

<style>
    .notification {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.CurProject.Name</h5>

        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="look-tab" data-bs-toggle="tab" data-bs-target="#bordered-looks" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetLookData", "Project")">总览</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="notice-tab" data-bs-toggle="tab" data-bs-target="#bordered-notices" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetNoticeData", "Project")">通知</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#bordered-chats" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetChatData", "Project")">交流</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#bordered-missions" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetMissionData", "Project")">任务</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="risk-tab" data-bs-toggle="tab" data-bs-target="#bordered-risks" type="button" role="tab" aria-controls="profile" aria-selected="false" data-url="@Url.Action("GetRiskData", "Project")">风险</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="defect-tab" data-bs-toggle="tab" data-bs-target="#bordered-defects" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetDefectData", "Project")">缺陷</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="check-tab" data-bs-toggle="tab" data-bs-target="#bordered-checks" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetCheckData", "Project")">审核</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="book-tab" data-bs-toggle="tab" data-bs-target="#bordered-books" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetBookData", "Project")">文档</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="resource-tab" data-bs-toggle="tab" data-bs-target="#bordered-resources" type="button" role="tab" aria-controls="home" aria-selected="true" data-url="@Url.Action("GetResourceData", "Project")">资源</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#bordered-users" type="button" role="tab" aria-controls="profile" aria-selected="false" data-url="@Url.Action("GetUserData", "Project")">人员</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="project-tab" data-bs-toggle="tab" data-bs-target="#bordered-editProject" type="button" role="tab" aria-controls="profile" aria-selected="false" data-url="@Url.Action("GetProjectData", "Project")">信息</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-looks" role="tabpanel" aria-labelledby="look-tab">
            </div>
            <div class="tab-pane fade" id="bordered-notices" role="tabpanel" aria-labelledby="notice-tab">
            </div>
            <div class="tab-pane fade" id="bordered-chats" role="tabpanel" aria-labelledby="chat-tab">
                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-2">User:</div>
                        <div class="col-4"><input type="text" id="userInput" /></div>
                    </div>
                    <div class="row">
                        <div class="col-2">Message:</div>
                        <div class="col-4"><input type="text" id="messageInput" /></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6"><input type="button" id="sendButton" value="Send Message" /></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-missions" role="tabpanel" aria-labelledby="mission-tab">
            </div>
            <div class="tab-pane fade" id="bordered-risks" role="tabpanel" aria-labelledby="risk-tab">
            </div>
            <div class="tab-pane fade" id="bordered-defects" role="tabpanel" aria-labelledby="defect-tab">
            </div>
            <div class="tab-pane fade" id="bordered-checks" role="tabpanel" aria-labelledby="check-tab">
            </div>
            <div class="tab-pane fade" id="bordered-books" role="tabpanel" aria-labelledby="book-tab">
            </div>
            <div class="tab-pane fade" id="bordered-resources" role="tabpanel" aria-labelledby="resource-tab">
            </div>
            <div class="tab-pane fade" id="bordered-users" role="tabpanel" aria-labelledby="user-tab">
            </div>
            <div class="tab-pane fade" id="bordered-editProject" role="tabpanel" aria-labelledby="project-tab">
            </div>
        </div>
        <!-- End Bordered Tabs -->

    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const tabFromUrl = urlParams.get('tab');
            const accordionId = urlParams.get("accordionId");
            const tab = tabFromUrl || 'bordered-looks';

            const tabElement = document.querySelector(`button[data-bs-target="#${tab}"]`);
            if (tabElement) {
                const bootstrapTabInstance = new bootstrap.Tab(tabElement);
                bootstrapTabInstance.show();
                const url = tabElement.dataset.url;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: { projectId: '@Model.CurProjectId' },
                    success: function (data) {
                        $(`#${tab}`).html(data);
                    },
                    error: function () {
                        alert("Error loading data");
                    }
                });
            }

            // ... 其他代码
        });

        $('body').on('shown.bs.tab', 'button[data-bs-toggle="tab"]', function (e) {
            var tab = $(e.target).attr("data-bs-target").substring(1); // 去掉'#'
            var url = $(e.target).data("url");
            $.ajax({
                type: "GET",
                url: url,
                data: { projectId: '@Model.CurProjectId' },
                success: function (data) {
                    $(`#${tab}`).html(data);
                },
                error: function () {
                    alert("Error loading data");
                }
            });
        });


    </script>








    <script>
        // 其他代码

        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var preview = document.getElementById('coverImagePreview');
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>



    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("[data-searchable]").filter(function () {
                    // 在这里，我们搜索每个卡片中表格的文本内容
                    $(this).toggle($(this).find("table").text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#searchuser').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('table tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
    <script>
        function scrollToBottom() {
            var scrollableDiv = document.getElementById("scrollableDiv");
            scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
        }
        document.querySelectorAll(".my-modal").forEach(function (modal) {
            modal.addEventListener("shown.bs.modal", function () {
                var scrollableDivId = this.getAttribute("data-scrollable-div");
                scrollToBottom(scrollableDivId);
            });
        });


    </script>






    <script>
        $(document).ready(function () {
            $('.mark-as-read').click(function () {
                $(this).closest('.notification').css('opacity', '0.5');
                var noticeId = $(this).data('notice-id');
                // 发送 AJAX 请求
                $.ajax({
                    url: '/Notice/MarkNoticeRead', // 后端处理标记为已读的路由地址
                    type: 'POST',
                    data: { id: noticeId }, // 传递通知 ID
                    success: function (response) {
                        // 成功回调
                        console.log('Notice marked as read.');
                        // 在此处执行其他操作，如更新页面等
                    },
                    error: function (error) {
                        // 错误回调
                        console.error('Error marking notice as read:', error);
                    }
                });
            });
        });


    </script>

    <script>
        //const connection = new signalR.HubConnectionBuilder()
        //    .withUrl("/chathub")
        //    .build();

        //connection.start().then(function () {
        //    document.getElementById("sendButton").addEventListener("click", function (event) {
        //        const user = document.getElementById("userInput").value;
        //        const message = document.getElementById("messageInput").value;
        //        connection.invoke("SendMessageToUser", user, message).catch(function (err) {
        //            return console.error(err.toString());
        //        });
        //        event.preventDefault();
        //    });
        //}).catch(function (err) {
        //    return console.error(err.toString());
        //});

        //// 接收消息
        //connection.on("ReceiveMessage", function (message) {
        //    const li = document.createElement("li");
        //    li.textContent = message;
        //    document.getElementById("messagesList").appendChild(li);
        //});


    </script>

    <script>
        $(document).ready(function () {
            // 创建 SignalR 连接
            var connection = new signalR.HubConnectionBuilder().withUrl("/noticeHub").build();

            // 接收通知
            connection.on("ReceiveNotice", function (notice) {
                console.log(notice);
                var coor = "alert-success";
                var ic = "bi bi-check-circle me-1";
                var bt = "btn-success";

                if (notice.noticeType === "Info") {
                    coor = "alert-info";
                    ic = "bi bi-info-circle me-1";
                    bt = "btn-info";
                } else if (notice.noticeType === "Warning") {
                    coor = "alert-warning";
                    ic = "bi bi-exclamation-triangle me-1";
                    bt = "btn-warning";
                } else if (notice.noticeType === "Danger") {
                    coor = "alert-danger";
                    ic = "bi bi-exclamation-octagon me-1";
                    bt = "btn-danger";
                } else if (notice.noticeType === "Success") {
                    coor = "alert-success";
                    ic = "bi bi-check-circle me-1";
                    bt = "btn-success";
                }

                var noticeElement = `
                                                                                                                                                                                                                                                                        <div class="alert ${coor} alert-dismissible fade show notification" role="alert">
                                                                                                                                                                                                                                                                            <div class="notification-info">
                                                                                                                                                                                                                                                                                <i class="${ic}"></i>
                                                                                                                                                                                                                                                                                ${notice.information}
                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                            <button type="button" class="btn ${bt} btn-sm mark-as-read" data-bs-toggle="modal" data-bs-target="#looktz${notice.id}">详情</button>
                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                    `;

                // 将通知元素添加到页面中的通知列表的最上方
                $('#notificationList').prepend(noticeElement);

                // 创建日期对象
                var createDate = new Date(notice.createTime);

                // 格式化日期部分
                var formattedDate = createDate.getFullYear() + '/' + (createDate.getMonth() + 1) + '/' + createDate.getDate();

                // 格式化时间部分
                var formattedTime = createDate.getHours() + ':' + createDate.getMinutes() + ':' + createDate.getSeconds();

                var modalElement = `
                                                                                                                                                                                                                                                    <div class="modal fade" id="looktz${notice.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                                                                                                                                                                                        <div class="modal-dialog">
                                                                                                                                                                                                                                                            <div class="modal-content">
                                                                                                                                                                                                                                                                <div class="modal-header">
                                                                                                                                                                                                                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">通知详情</h1>
                                                                                                                                                                                                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                <div class="modal-body">
                                                                                                                                                                                                                                                                    <textarea class="form-control" readonly>${notice.information}</textarea>
                                                                                                                                                                                                                                                                    <div class="d-flex justify-content-between">
                                                                                                                                                                                                                                                                        <label>通知人： ${notice.putforward}</label>
                                                                                                                                                                                                                                                                        <label>时间： ${formattedDate} ${formattedTime}</label>
                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                <div class="modal-footer">
                                                                                                                                                                                                                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                `;


                // 将模态框代码添加到页面
                $('body').append(modalElement);
            });

            // 启动 SignalR 连接
            connection.start().catch(function (err) {
                console.error(err.toString());
            });

            connection.onclose(function (error) {
                console.log('Connection closed. Error: ', error);
            });
        });
    </script>




        }
