@using ProjectManagementSystem.Data
@using Microsoft.AspNetCore.Identity;
@using ProjectManagementSystem.Models;
@inject SignInManager<ApplicationUser> signInManager
@inject ApplicationDbContext applicationDbContext
@inject UserManager<ApplicationUser> userManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - ProjectManagementSystem</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        .info-card {
            padding-bottom: 10px;
        }

            .info-card h6 {
                font-size: 28px;
                color: #012970;
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

        .card-icon {
            font-size: 32px;
            line-height: 0;
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            flex-grow: 0;
        }

        .sales-card .card-icon {
            color: #4154f1;
            background: #f6f6fe;
        }

        .revenue-card .card-icon {
            color: #2eca6a;
            background: #e0f8e9;
        }

        .customers-card .card-icon {
            color: #ff771d;
            background: #ffecdf;
        }
    </style>
    <style>
        .readonly-input {
            background-color: #e9ecef;
            opacity: 1;
            cursor: not-allowed;
        }
    </style>
    <style>
        .low-risk {
            background-color: #28a745;
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .medium-risk {
            background-color: #ffc107;
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .high-risk {
            background-color: #dc3545;
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .risk-label {
            padding: 4px 8px;
        }
    </style>
    <style>
        .gray-color {
            background-color: #6c757d;
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .risk-label {
            padding: 4px 8px;
        }
    </style>
    <style>
        .status-awaiting {
            background-color: #17a2b8; /* Teal */
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .status-discarded {
            background-color: #6c757d; /* Gray */
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .status-resolved {
            background-color: #fd7e14; /* Orange */
            color: white;
            text-align: center;
            border-radius: 5px;
        }

        .risk-label {
            padding: 4px 8px;
        }
    </style>



    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/assets/vendor/apexcharts/apexcharts.css" rel="stylesheet" />
    <link href="~/assets/bootstrap-select-1.14.0-beta3/docs/docs/dist/css/bootstrap-select.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">项目管理信息系统</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="@((await userManager.GetUserAsync(User)).ImagePath)" alt="无头像" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>欢迎登录, @User.Identity.Name!</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-action="Index" asp-controller="Account">
                                <i class="bi bi-person"></i>
                                <span>个人中心</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-action="Logout" asp-controller="Account">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>登出</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    @{
        var activeController = ViewContext.RouteData.Values["controller"]?.ToString();
        var activeAction = ViewContext.RouteData.Values["action"]?.ToString();
    }

    @{
        string[] homeRoutes = { "Home" };
        string[] userRoutes = { "User", "Role" };
        string[] projectRoutes = { "Project", "Risk", "Defect", "Book", "Resource" };
        string[] otherRoutes = { "Department", "Position" };
    }

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item @(homeRoutes.Contains(activeController) ? "active" : "")">
                <a class="nav-link collapsed" data-bs-target="#looks-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-grid"></i><span>看板</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="looks-nav" class="nav-content collapse @(homeRoutes.Contains(activeController) ? "show" : "")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a class="nav-link @(activeController == "Home" ? "active" : "")"
                           asp-action="Index" asp-controller="Home">
                            统计分析
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item @(projectRoutes.Contains(activeController) ? "active" : "")">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>项目</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse @(projectRoutes.Contains(activeController) ? "show" : "")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a class="nav-link @(activeController == "Project" ? "active" : "")"
                           asp-action="Index" asp-controller="Project">
                            项目管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item @(userRoutes.Contains(activeController) ? "active" : "")">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-card-list"></i><span>用户</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse @(userRoutes.Contains(activeController) ? "show" : "")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a class="nav-link @(activeController == "User" ? "active" : "")"
                           asp-action="Index" asp-controller="User">
                            用户管理
                        </a>
                    </li>
                    <li>
                        <a class="nav-link @(activeController == "Role" ? "active" : "")"
                           asp-action="Index" asp-controller="Role">
                            角色管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item @(otherRoutes.Contains(activeController) ? "active" : "")">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>其他</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse @(otherRoutes.Contains(activeController) ? "show" : "")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a class="nav-link @(activeController == "Department" ? "active" : "")"
                           asp-action="Index" asp-controller="Department">
                            部门管理
                        </a>
                    </li>
                    <li>
                        <a class="nav-link @(activeController == "Position" ? "active" : "")"
                           asp-action="Index" asp-controller="Position">
                            职位管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </aside>




    <main id="main" class="main">

        @RenderBody()

    </main><!-- End #main -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/assets/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/bootstrap-select-1.14.0-beta3/docs/docs/dist/js/bootstrap-select.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
