@using ProjectManagementSystem.Data
@using ProjectManagementSystem.Models
@using ProjectManagementSystem.ViewModels
@model LookIndexViewModel
<div class="container">
    <div class="col-12">
        <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">任务</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-card-checklist"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.MissionCount</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Sales Card -->
            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">资金</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-yen"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.Money</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Revenue Card -->
            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card">
                    <div class="card-body">
                        <h5 class="card-title">成员</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.UserCount</h6>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- End Customers Card -->
        </div>
    </div>
    <!-- Reports -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">任务趋势图</h5>

                <!-- Line Chart -->
                <div id="areachart"></div>
                <!-- End Line Chart -->

            </div>

        </div>
    </div>
    <!-- End Reports -->

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">每日任务状态变动图</h5>
                <div class="col-3">
                    <select id="user-select" class="form-control">
                        @foreach (var name in Model.UserNames)
                        {
                            <option value="@name">@name</option>
                        }

                        <!-- 添加其他选项... -->
                    </select>
                </div>
                <!-- User Select Dropdown -->
                <!-- Column Chart -->
                <div id="stackChart"></div>
                <!-- End Column Chart -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">成员贡献图</h5>

                    <!-- Line Chart -->
                    <div id="pieChart"></div>
                    <!-- End Line Chart -->

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <!-- Line Chart -->
                    <div id="barChart"></div>
                    <!-- End Line Chart -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">资金变化图</h5>

                <!-- Line Chart -->
                <div id="fundChart"></div>
                <!-- End Line Chart -->

            </div>

        </div>
    </div>
</div>

<script>
    var projectId = @Model.ProjectId;
</script>
@*bar图*@
<script>
    var barChart;
    $(document).ready(function () {
        var options = {
            series: [{
                name: '数量',
                data: []
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    borderRadiusApplication: 'end',
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: []
            },
            tooltip: {
                x: {
                    show: true
                },
                y: {
                    formatter: function (value) {
                        return value;
                    }
                }
            }
        };

        $.get('/Project/GetBarData?projectId=' + projectId, function (data) {
            options.series[0].data = data.numbers;
            options.xaxis.categories = data.names;
            if (barChart) {
                barChart.destroy();
            }
            barChart = new ApexCharts(document.querySelector("#barChart"), options);
            barChart.render();
        });
    });
</script>


@*饼图*@
<script>
    var pieChart;
    $(document).ready(function () {
        $.get('/Project/GetPieData?projectId=' + projectId, function (data) {
            console.log('Data received from server:', data);
            renderPieChart(data);
        });
    });

    function renderPieChart(data) {
        if (data.length === 0) {
            console.log('No data to render');
            return;
        }
        var options = {
            series: data.numbers,
            chart: {
                type: 'pie',
            },
            labels: data.names,
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
        if (pieChart) {
            pieChart.destroy();
        }
        pieChart = new ApexCharts(document.querySelector("#pieChart"), options);
        pieChart.render();
    }
</script>

@*资金变化图*@
<script>
    var fundChart;

    function renderFundChart(data) {
        if (data.length === 0) {
            console.log('No data to render');
            return;
        }
        if (fundChart) {
            fundChart.destroy();
        }
        var options = {
            series: data,
            chart: {
                type: 'line',
                height: 350,
                stacked: false
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: [1, 1, 4]
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    format: 'dd/MM/yy'
                }
            },
            yaxis: [
                {
                    axisTicks: {
                        show: true,
                    },
                    axisBorder: {
                        show: true,
                        color: '#008FFB'
                    },
                    tooltip: {
                        enabled: true
                    }
                }
            ],
            tooltip: {
                fixed: {
                    enabled: true,
                    position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
                    offsetY: 30,
                    offsetX: 60
                },
            },
            legend: {
                horizontalAlign: 'left',
                offsetX: 40
            }
        };

        fundChart = new ApexCharts(document.querySelector("#fundChart"), options);
        fundChart.render();
    }

    // 页面加载完成后，自动加载数据
    $(document).ready(function () {
        console.log('Document ready');
        $.get('/Project/GetFundData?projecctId=' + projectId, function (data) {
            console.log('Data received from server:', data);
            renderFundChart(data);
        });
    });

</script>

@*每日任务状态图*@
<script>
    var stackChart;
    function renderStackChart(data) {
        if (data.length === 0) {
            console.log('No data to render');
            return;
        }
        console.log(stackChart);

        if (stackChart) {
            stackChart.destroy();
        }
        var options = {
            series: data,
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                toolbar: {
                    show: true
                },
                zoom: {
                    enabled: true
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    legend: {
                        position: 'bottom',
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }],
            plotOptions: {
                bar: {
                    horizontal: false,
                    borderRadius: 10,
                    borderRadiusApplication: 'end', // 'around', 'end'
                    borderRadiusWhenStacked: 'last', // 'all', 'last'
                    dataLabels: {
                        total: {
                            enabled: true,
                            style: {
                                fontSize: '13px',
                                fontWeight: 900
                            }
                        }
                    }
                },
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    format: 'yyyy/MM/dd'
                }
            },
            legend: {
                position: 'right',
                offsetY: 40
            },
            fill: {
                opacity: 1
            }
        };

        stackChart = new ApexCharts(document.querySelector("#stackChart"), options);
        stackChart.render();
    }

    $('#user-select').change(function () {
        console.log('Change event triggered');
        var user = encodeURIComponent($(this).val());
        $.get('/Project/GetStackColumnData?user=' + user + '&projectId=' + projectId, function (data) {
            console.log('Data received from server:', data);
            renderStackChart(data);
        });
    });

    // 页面加载完成后，自动触发“All”的点击事件
    $(document).ready(function () {
        console.log('Document ready');
        $('#user-select').trigger('change');
    });

</script>


@*//area趋势图*@
<script>
    var areachart;  // 创建一个全局变量来保存当前的图表

    function renderAreaChart(data) {
        if (data.length === 0) {
            console.log('No data to render');
            return;
        }
        if (areachart) {
            areachart.destroy();  // 如果已经存在一个图表，先销毁它
        }

        // 处理数据，使其满足 ApexCharts 的要求
        var series = data.map(function (item) {
            return {
                name: item.name,
                data: item.data.map(function (d) {
                    return { x: d.x, y: d.y }
                }),
                color: item.color, // 颜色字段
            };
        });

        var options = {
            series: series,
            chart: {
                height: 350,
                type: 'area',
            },
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.3,
                    opacityTo: 0.4,
                    stops: [0, 90, 100]
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
                width: 2
            },
            xaxis: {
                type: 'datetime'
            },
            tooltip: {
                fixed: {
                    enabled: true,
                    position: 'topLeft', //topRight, topLeft, bottomRight, bottomLeft
                    offsetY: 30,
                    offsetX: 60
                },
                shared: true,
                intersect: false,
                x: {
                    format: 'yyyy/MM/dd'
                },
            },
        };

        areachart = new ApexCharts(document.querySelector("#areachart"), options);
        areachart.render();
    }

    $(document).ready(function () {
        $.get('/Project/GetData?projectId=' + projectId, function (data) {
            renderAreaChart(data);
        });
    });
</script>
