@using Microsoft.AspNetCore.Identity;
@using ProjectManagementSystem.ViewModels
@using ProjectManagementSystem.Data
@model UserAddViewModel
@inject RoleManager<IdentityRole> roleManager;
@{
    ViewBag.Title = "添加用户";
}

<h2>@ViewBag.Title</h2>

<form method="post" asp-action="AddUser">
    <div class="col-lg-6 offset-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">添加用户</h5>

                <!-- General Form Elements -->
                <form>

                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="UserName"></label>
                        <span class="invalid" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="Password"></label>
                        <span class="invalid" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="TrueName" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="TrueName"></label>
                        <span class="invalid" asp-validation-for="TrueName"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="About" class="form-control" placeholder="说点什么吧" style="height: 100px;"></textarea>
                        <label asp-for="About"></label>
                        <span class="invalid" asp-validation-for="About"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Department" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="Department"></label>
                        <span class="invalid" asp-validation-for="Department"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Job" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="Job"></label>
                        <span class="invalid" asp-validation-for="Job"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Address" class="form-control" id="floatingInput" placeholder=" ">
                        <label asp-for="Address"></label>
                        <span class="invalid" asp-validation-for="Address"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="JobDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="floatingInput" placeholder=" ">
                        <label asp-for="JobDate"></label>
                        <span class="invalid" asp-validation-for="JobDate"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="BirthDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="floatingInput" placeholder=" ">
                        <label asp-for="BirthDate"></label>
                        <span class="invalid" asp-validation-for="BirthDate"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="RoleName" class="form-select" aria-label="Floating label select example" placeholder=" ">
                            @foreach (var role in roleManager.Roles.Select(a => a.Name))
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <label asp-for="RoleName"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a asp-action="Index" class="btn btn-secondary">返回列表</a>
                </form><!-- End General Form Elements -->

            </div>
        </div>

    </div>
</form>